.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(100deg, #2d6cdf 50%, #482ff7 0);
}

.app-wrapper {
  background-color: #292f38;
  width: 25%;
  min-width: 450px;
  min-height: 600px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

ul {
  width: 100%;
  padding: 0;
  margin: 1em 0;
}

li {
  list-style: none;
}

h2 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.utility-btns {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.input {
  width: 100%;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  border-radius: 0.4em;
  margin: 0.2em 0;
}

.text {
  margin: 0;
  margin-left: 0.4em;
  font-size: 1.4em;
}

.btn {
  padding: 0.4em;
  border-radius: 0.4em;
  font-weight: 700;
  min-width: 4em;
}

.delete-btn {
  background-color: #c82333;
  color: white;
}

.done-btn {
  background-color: #218838;
  margin-right: 0.5em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.add-btn {
  background-color: #218838;
  margin-right: 0.5em;
  color: white;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.clear-btn {
  background-color: #c82333;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.done {
  text-decoration: line-through;

  opacity: 60%;
}

.input {
  border-radius: 0.4em;
  height: 2em;
}
