<div class="app">
  <div class="app-wrapper">
    <h2>TODO APP</h2>
    <input
      class="input"
      (keyup.enter)="onAdd($event.target.value)"
      #in
      type="text"
    />

    <div class="utility-btns">
      <button class="add-btn btn" (click)="onAdd(in.value)">Add</button>
      <button class="clear-btn btn" (click)="onClear()">Clear</button>

      <!-- ! NOT WORKING -->
      <!-- <button class="clear-btn btn" (click)="onDeleteDone()">Clear done</button> -->
    </div>

    <ul>
      <li *ngFor="let todo of list">
        <todo [todo]="todo"></todo>
      </li>
    </ul>
  </div>
</div>
